# Database connection string
# Use 'db' as the hostname for Docker, or 'localhost' for local development
DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@db:5432/<DB_NAME>

# Application Port
PORT=5000